@keyframes zoomfade {
    0%   { opacity: 1; transform: scale(0.5); }
    25%  { opacity: 1; }
    100% { opacity: 0; transform: scale(1.5); }
}

.zoomfade {
    animation-name: zoomfade;
    animation-duration: 2s;
}
