body {
    margin: 0;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    background-color: rgb(30,30,30);
}

.screen {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.screen.active {
    display: block;
}
